<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80);">
      <div class="container">
        <h1 class="text-center">📽 Vintage Film Collection</h1>
        <p class="text-center"><span data-controller="typed-js"></span></p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
<p class="text-center"><%= link_to "🎬 Create a new list", new_list_path, class: 'btn btn-ghost' %></p>
</div>
<div class="container mb-5">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-6 col-md-4 mt-4">
        <div  class="card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80)">
          <p><%= list.name %></p>
          <p><%= link_to "+ List details", list_path(list), class: 'btn btn-light' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
