<div class="container mt-5">
<h1>New List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: "Create a new list" %>
  <%= f.button :submit, class: "btn btn-ghost w-100" %>
<% end %>
</div>
